
:where(.page-constructor-container) img {
    box-sizing: initial;
    max-width: initial;
    max-height: initial;
    border: initial;
    vertical-align: initial;
    height: initial;
}
/* .yfm img, .yfm svg {
    box-sizing: initial;
    max-width: initial;
    max-height: initial;
    border: initial;
    vertical-align: initial;
    height: unset;
    object-fit: initial;
} */

/* .page-constructor-container .yfm img,
.page-constructor-container .yfm svg {
  box-sizing: initial;
  max-width: initial;
  max-height: initial;
  border: initial;
  vertical-align: initial;
  height: initial;
} */

/* Сброс стилей при наличии классов yfm-reset-style или page-constructor-container
.yfm-reset-style h1,
.yfm-reset-style h2,
.yfm-reset-style h3,
.yfm-reset-style h4,
.yfm-reset-style h5,
.yfm-reset-style h6,
.yfm.yfm-reset-style h1,
.yfm.yfm-reset-style h2,
.yfm.yfm-reset-style h3,
.yfm.yfm-reset-style h4,
.yfm.yfm-reset-style h5,
.yfm.yfm-reset-style h6,
.page-constructor-container .yfm h1,
.page-constructor-container .yfm h2,
.page-constructor-container .yfm h3,
.page-constructor-container .yfm h4,
.page-constructor-container .yfm h5,
.page-constructor-container .yfm h6 {
  margin-bottom: initial;
  font-weight: initial;
}
.yfm-reset-style h1,
.yfm.yfm-reset-style h1,
.page-constructor-container .yfm h1 {
  font-size: initial;
  line-height: initial;
}
.yfm-reset-style h2,
.yfm.yfm-reset-style h2,
.page-constructor-container .yfm h2 {
  font-size: initial;
  line-height: initial;
}
.yfm-reset-style h3,
.yfm.yfm-reset-style h3,
.page-constructor-container .yfm h3 {
  font-size: initial;
  line-height: initial;
}
.yfm-reset-style h4,
.yfm.yfm-reset-style h4,
.page-constructor-container .yfm h4 {
  font-size: initial;
  line-height: initial;
}
.yfm-reset-style h5,
.yfm.yfm-reset-style h5,
.page-constructor-container .yfm h5 {
  font-size: initial;
  line-height: initial;
}
.yfm-reset-style h6,
.yfm.yfm-reset-style h6,
.page-constructor-container .yfm h6 {
  font-size: initial;
  line-height: initial;
}
.yfm-reset-style a,
.yfm.yfm-reset-style a,
.page-constructor-container .yfm a {
  background-color: initial;
  color: initial;
  text-decoration: initial;
}
.yfm-reset-style a:hover,
.yfm-reset-style a:active,
.yfm.yfm-reset-style a:hover,
.yfm.yfm-reset-style a:active,
.page-constructor-container .yfm a:hover,
.page-constructor-container .yfm a:active {
  color: initial;
}
.yfm-reset-style a:not([href]),
.yfm.yfm-reset-style a:not([href]),
.page-constructor-container .yfm a:not([href]) {
  color: initial;
}
.yfm-reset-style strong,
.yfm.yfm-reset-style strong,
.page-constructor-container .yfm strong {
  font-weight: initial;
}
.yfm-reset-style img,
.yfm-reset-style svg,
.yfm.yfm-reset-style img,
.yfm.yfm-reset-style svg,
.page-constructor-container .yfm img,
.page-constructor-container .yfm svg {
  box-sizing: initial;
  max-width: initial;
  max-height: initial;
  border: initial;
  vertical-align: initial;
}
.yfm-reset-style img[align=right],
.yfm-reset-style svg[align=right],
.yfm.yfm-reset-style img[align=right],
.yfm.yfm-reset-style svg[align=right],
.page-constructor-container .yfm img[align=right],
.page-constructor-container .yfm svg[align=right] {
  padding-left: initial;
}
.yfm-reset-style img[align=left],
.yfm-reset-style svg[align=left],
.yfm.yfm-reset-style img[align=left],
.yfm.yfm-reset-style svg[align=left],
.page-constructor-container .yfm img[align=left],
.page-constructor-container .yfm svg[align=left] {
  padding-right: initial;
}
.yfm-reset-style img,
.yfm.yfm-reset-style img,
.page-constructor-container .yfm img {
  object-fit: initial;
  background-color: initial;
}
.yfm-reset-style svg,
.yfm.yfm-reset-style svg,
.page-constructor-container .yfm svg {
  height: initial;
}
.yfm-reset-style .katex svg,
.yfm.yfm-reset-style .katex svg,
.page-constructor-container .yfm .katex svg {
  height: initial;
}
.yfm-reset-style img + small,
.yfm.yfm-reset-style img + small,
.page-constructor-container .yfm img + small {
  display: initial;
}
.yfm-reset-style p,
.yfm-reset-style blockquote,
.yfm-reset-style ul,
.yfm-reset-style ol,
.yfm-reset-style dl,
.yfm-reset-style table,
.yfm-reset-style pre,
.yfm.yfm-reset-style p,
.yfm.yfm-reset-style blockquote,
.yfm.yfm-reset-style ul,
.yfm.yfm-reset-style ol,
.yfm.yfm-reset-style dl,
.yfm.yfm-reset-style table,
.yfm.yfm-reset-style pre,
.page-constructor-container .yfm p,
.page-constructor-container .yfm blockquote,
.page-constructor-container .yfm ul,
.page-constructor-container .yfm ol,
.page-constructor-container .yfm dl,
.page-constructor-container .yfm table,
.page-constructor-container .yfm pre {
  margin-block: initial;
  margin-inline: initial;
}
.yfm-reset-style ul pre,
.yfm-reset-style ol pre,
.yfm-reset-style dl pre,
.yfm.yfm-reset-style ul pre,
.yfm.yfm-reset-style ol pre,
.yfm.yfm-reset-style dl pre,
.page-constructor-container .yfm ul pre,
.page-constructor-container .yfm ol pre,
.page-constructor-container .yfm dl pre {
  margin-top: initial;
}
.yfm-reset-style code,
.yfm-reset-style kbd,
.yfm-reset-style pre,
.yfm.yfm-reset-style code,
.yfm.yfm-reset-style kbd,
.yfm.yfm-reset-style pre,
.page-constructor-container .yfm code,
.page-constructor-container .yfm kbd,
.page-constructor-container .yfm pre {
  font-family: initial;
  font-size: initial;
  font-feature-settings: initial;
}
.yfm-reset-style input,
.yfm.yfm-reset-style input,
.page-constructor-container .yfm input {
  margin: initial;
  overflow: initial;
  font-family: initial;
  font-size: initial;
  line-height: initial;
}
.yfm-reset-style input[type=checkbox],
.yfm.yfm-reset-style input[type=checkbox],
.page-constructor-container .yfm input[type=checkbox] {
  position: initial;
  top: initial;
  box-sizing: initial;
  padding: initial;
}
.yfm-reset-style table,
.yfm.yfm-reset-style table,
.page-constructor-container .yfm table {
  color: initial;
  display: initial;
  max-width: initial;
  width: initial;
  overflow: initial;
  position: initial;
  z-index: initial;
  box-sizing: initial;
  border: initial;
  border-radius: initial;
  border-collapse: initial;
  border-spacing: initial;
  background: initial;
}
.yfm-reset-style table thead,
.yfm-reset-style table tr:nth-child(2n),
.yfm.yfm-reset-style table thead,
.yfm.yfm-reset-style table tr:nth-child(2n),
.page-constructor-container .yfm table thead,
.page-constructor-container .yfm table tr:nth-child(2n) {
  background-color: initial;
}
.yfm-reset-style table tr:first-child td,
.yfm-reset-style table tr:first-child th,
.yfm.yfm-reset-style table tr:first-child td,
.yfm.yfm-reset-style table tr:first-child th,
.page-constructor-container .yfm table tr:first-child td,
.page-constructor-container .yfm table tr:first-child th {
  border-top: initial;
}
.yfm-reset-style table tr:last-child td,
.yfm-reset-style table tr:last-child th,
.yfm.yfm-reset-style table tr:last-child td,
.yfm.yfm-reset-style table tr:last-child th,
.page-constructor-container .yfm table tr:last-child td,
.page-constructor-container .yfm table tr:last-child th {
  border-bottom: initial;
}
.yfm-reset-style table th,
.yfm-reset-style table td,
.yfm.yfm-reset-style table th,
.yfm.yfm-reset-style table td,
.page-constructor-container .yfm table th,
.page-constructor-container .yfm table td {
  padding: initial;
  overflow: initial;
  text-overflow: initial;
  border: initial;
}
.yfm-reset-style table th > *:first-child,
.yfm-reset-style table td > *:first-child,
.yfm.yfm-reset-style table th > *:first-child,
.yfm.yfm-reset-style table td > *:first-child,
.page-constructor-container .yfm table th > *:first-child,
.page-constructor-container .yfm table td > *:first-child {
  margin-top: initial;
}
.yfm-reset-style table th > *:last-child,
.yfm-reset-style table td > *:last-child,
.yfm.yfm-reset-style table th > *:last-child,
.yfm.yfm-reset-style table td > *:last-child,
.page-constructor-container .yfm table th > *:last-child,
.page-constructor-container .yfm table td > *:last-child {
  margin-bottom: initial;
}
.yfm-reset-style table td,
.yfm.yfm-reset-style table td,
.page-constructor-container .yfm table td {
  vertical-align: initial;
  white-space: initial;
}
.yfm-reset-style table th,
.yfm.yfm-reset-style table th,
.page-constructor-container .yfm table th {
  font-weight: initial;
  text-align: initial;
}
.yfm-reset-style table tr td:first-child,
.yfm-reset-style table tr th:first-child,
.yfm.yfm-reset-style table tr td:first-child,
.yfm.yfm-reset-style table tr th:first-child,
.page-constructor-container .yfm table tr td:first-child,
.page-constructor-container .yfm table tr th:first-child {
  border-left: initial;
}
.yfm-reset-style table tr td:last-child,
.yfm-reset-style table tr th:last-child,
.yfm.yfm-reset-style table tr td:last-child,
.yfm.yfm-reset-style table tr th:last-child,
.page-constructor-container .yfm table tr td:last-child,
.page-constructor-container .yfm table tr th:last-child {
  border-right: initial;
}
.yfm-reset-style hr,
.yfm.yfm-reset-style hr,
.page-constructor-container .yfm hr {
  box-sizing: initial;
  height: initial;
  padding: initial;
  margin: initial;
  overflow: initial;
  background-color: initial;
  border: initial;
}
.yfm-reset-style hr::before,
.yfm.yfm-reset-style hr::before,
.page-constructor-container .yfm hr::before {
  content: normal;
  display: initial;
}
.yfm-reset-style hr::after,
.yfm.yfm-reset-style hr::after,
.page-constructor-container .yfm hr::after {
  content: normal;
  display: initial;
  clear: initial;
}
.yfm-reset-style blockquote,
.yfm.yfm-reset-style blockquote,
.page-constructor-container .yfm blockquote {
  position: initial;
  padding-left: initial;
  border-left: initial;
}
.yfm-reset-style blockquote > *:first-child,
.yfm.yfm-reset-style blockquote > *:first-child,
.page-constructor-container .yfm blockquote > *:first-child {
  margin-top: initial;
}
.yfm-reset-style blockquote > *:last-child,
.yfm.yfm-reset-style blockquote > *:last-child,
.page-constructor-container .yfm blockquote > *:last-child {
  margin-bottom: initial;
}
.yfm-reset-style dl,
.yfm.yfm-reset-style dl,
.page-constructor-container .yfm dl {
  padding: initial;
}
.yfm-reset-style dl > *:first-child,
.yfm.yfm-reset-style dl > *:first-child,
.page-constructor-container .yfm dl > *:first-child {
  margin-top: initial;
}
.yfm-reset-style dl > *:last-child,
.yfm.yfm-reset-style dl > *:last-child,
.page-constructor-container .yfm dl > *:last-child {
  margin-bottom: initial;
}
.yfm-reset-style dl dt,
.yfm.yfm-reset-style dl dt,
.page-constructor-container .yfm dl dt {
  margin-bottom: initial;
  font-size: initial;
  font-weight: initial;
  font-style: initial;
}
.yfm-reset-style dl dd,
.yfm.yfm-reset-style dl dd,
.page-constructor-container .yfm dl dd {
  margin-bottom: initial;
  padding: initial;
}
.yfm-reset-style dd,
.yfm.yfm-reset-style dd,
.page-constructor-container .yfm dd {
  margin-left: initial;
}
.yfm-reset-style ul,
.yfm-reset-style ol,
.yfm.yfm-reset-style ul,
.yfm.yfm-reset-style ol,
.page-constructor-container .yfm ul,
.page-constructor-container .yfm ol {
  padding-left: initial;
}
.yfm-reset-style ul ul,
.yfm-reset-style ul ol,
.yfm-reset-style ol ol,
.yfm-reset-style ol ul,
.yfm.yfm-reset-style ul ul,
.yfm.yfm-reset-style ul ol,
.yfm.yfm-reset-style ol ol,
.yfm.yfm-reset-style ol ul,
.page-constructor-container .yfm ul ul,
.page-constructor-container .yfm ul ol,
.page-constructor-container .yfm ol ol,
.page-constructor-container .yfm ol ul {
  margin-top: initial;
  margin-bottom: initial;
}
.yfm-reset-style li,
.yfm.yfm-reset-style li,
.page-constructor-container .yfm li {
  word-wrap: initial;
}
.yfm-reset-style li + li,
.yfm.yfm-reset-style li + li,
.page-constructor-container .yfm li + li {
  margin-block: initial;
}
.yfm-reset-style li p,
.yfm-reset-style li blockquote,
.yfm.yfm-reset-style li p,
.yfm.yfm-reset-style li blockquote,
.page-constructor-container .yfm li p,
.page-constructor-container .yfm li blockquote {
  margin-block: initial;
}
.yfm-reset-style li > p:only-child,
.yfm-reset-style li > blockquote:only-child,
.yfm.yfm-reset-style li > p:only-child,
.yfm.yfm-reset-style li > blockquote:only-child,
.page-constructor-container .yfm li > p:only-child,
.page-constructor-container .yfm li > blockquote:only-child {
  margin-block: initial;
}
@supports selector(:has(br)) {
  .yfm-reset-style li > p:only-child:has(br),
  .yfm-reset-style li > blockquote:only-child:has(br),
  .yfm.yfm-reset-style li > p:only-child:has(br),
  .yfm.yfm-reset-style li > blockquote:only-child:has(br),
  .page-constructor-container .yfm li > p:only-child:has(br),
  .page-constructor-container .yfm li > blockquote:only-child:has(br) {
    margin-block: initial;
  }
}
.yfm-reset-style code,
.yfm.yfm-reset-style code,
.page-constructor-container .yfm code {
  padding: initial;
  background-color: initial;
  border-radius: initial;
  font-size: initial;
  white-space: initial;
  color: initial;
  tab-size: initial;
}
.yfm-reset-style a code,
.yfm.yfm-reset-style a code,
.page-constructor-container .yfm a code {
  color: initial;
}
.yfm-reset-style pre,
.yfm.yfm-reset-style pre,
.page-constructor-container .yfm pre {
  word-wrap: initial;
}
.yfm-reset-style table code,
.yfm.yfm-reset-style table code,
.page-constructor-container .yfm table code {
  white-space: initial;
}
.yfm-reset-style pre * code,
.yfm.yfm-reset-style pre * code,
.page-constructor-container .yfm pre * code {
  display: initial;
  padding: initial;
  margin: initial;
  overflow: initial;
  word-wrap: initial;
  background-color: initial;
  border: initial;
  color: initial;
}
.yfm-reset-style pre > code,
.yfm.yfm-reset-style pre > code,
.page-constructor-container .yfm pre > code {
  display: initial;
  padding: initial;
  overflow: initial;
  background-color: initial;
  color: initial;
  white-space: initial;
}
.yfm-reset-style sup,
.yfm-reset-style sub,
.yfm.yfm-reset-style sup,
.yfm.yfm-reset-style sub,
.page-constructor-container .yfm sup,
.page-constructor-container .yfm sub {
  line-height: initial;
} */
